@charset "UTF-8";

a.menu__link {
    position: relative;
    color: #808080;
    font-size: 17px;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    padding: 0 10px;

}

a.menu__link.ativo{
    color: #333333;
    font-weight: bold;
}
@media screen and (max-width: 543px){
    a.menu__link:hover{
        text-decoration: underline;
    }

}

@media screen and (min-width: 544px){
    .menu__link::after{
        content: "";
        bottom: -8px;
        position: absolute;
        background-color: rgb(182, 0, 0);
        height: 3px;
        width: 0;
        left: 0;
        transition: 0.3s;
    }
    a.menu__link:hover{
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    
    a.menu__link:hover::after{
        width: 100%;
    }
    
}